mixin dropdown-item(dropdownItems = {})
    -let {name,btnClass}=dropdownItems
    .dropdown
        button(class=btnClass)
            p.btnText=name
            i.material-icons expand_more
        .dropdown-content
            block