mixin dropdown-item(dropdownItems = {})
    -let {name,btnClass,dropClass,show}=dropdownItems
    .dropdown(class=dropClass)
        button(class=btnClass)
            p.btnText=name
            i.material-icons expand_more
        .dropdown-content(class=show)
            block