mixin pagination(value)
    div.my-pagination(data-value=value)
    p.pagination-description <span class="pagination-description__number-range">1-12</span> из <span class="pagination-description__all-items">100+</span> вариантов аренды
