.date-mask {
    width: 320px;
    height: 44px;
    border:1px solid $color__dark-shade25;
    font-family: 'Montserrat Regular';
    font-size: 14px;
    padding-left: 15px;
    border-radius: 4px;
    &::placeholder {
        color:$color__dark-shade25;
    }
}