.input__email{
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 100%;
    height: 44px;
    padding-left: 15px;
    cursor: pointer;
    &::placeholder{
        color: rgba(31, 32, 65, 0.25);
        font-size: 0.875rem;
        line-height: 18px;
        font-family: 'Montserrat Regular';
    }
    &-hover:hover{
        border: 1px solid rgba(31, 32, 65, 0.5);
        &::placeholder{
            color: rgba(31, 32, 65, 0.75);
        }
    }
    &-hover:focus{
        outline: none;
        border: 1px solid rgba(31, 32, 65, 0.5);
        &::placeholder {
        color: rgba(31, 32, 65, 0.75);
    }
    }
    &-arrow-right{
    
       border-radius: 4px 0px 0px 4px;
       border-right: none;
    }
}