include ../../../src/components/color-type/color-type.pug
include ../../../src/components/text-type/text-type.pug
include ../../../src/components/text-type/example-type.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ui-kit
    body
        section.color-type
            .color-container
                +color-example('color__rectangle-ds-100','Dark Shade 100%',  '#1F2041')
                +color-example('color__rectangle-ds-75','Dark Shade 75%',   '#1F2041')
                +color-example('color__rectangle-ds-50','Dark Shade 50%',   '#1F2041')
                +color-example('color__rectangle-ds-25','Dark Shade 25%',   '#1F2041')
                +color-example('color__rectangle-ds-05','Dark Shade 5%',    '#1F2041')
                +color-example('color__rectangle-purple','Purple',   '#BC9CFF')
                +color-example('color__rectangle-green','Green',   '#6FCF97')
            .text-container
                .tag-type
                    +text-tag('H1','text-type__tag-h1')    
                    +text-tag('H2','text-type__tag-h2')
                    +text-tag('H3','text-type__tag-h3')
                    +text-tag('Body','text-type__tag-body')
                .example-type
                    +text-example('This one is the sub-section or widget title','text-type__example-h1')    
                    +text-example('Next one is the item title inside widgets',  'text-type__example-h2')
                    +text-example('This is a label or CTA text','text-type__example-h3')
                    +text-example('This is the body text which is used for most of the design, like paragraphs, lists, etc.','text-type__example-body')

                
