include ../../components/color-type/color-type.pug
include ../../components/text-type/text-type.pug
include ../../components/text-type/example-type.pug
include ../../components/input/input.pug
include ../../components/block-description/block-description
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown/dropdownBtn.pug
include ../../components/date-mask/date-mask.pug
include ../../components/calculator/calculator.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/checkbox-button/checkbox-button.pug
include ../../components/info-hotel-room/info-hotel-room.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/review/review.pug
include ../../components/range-slider/range-slider
include ../../components/buttons/buttons
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list
include ../../cards/find-apartment/find-apartment
include ../../cards/registration/registration
include ../../cards/reserve-card/reserve-card
include ../../cards/log-in/log-in
include ../../cards/room-slider/room-slider
include ../../components/header/header
include ../../components/header/header-link/header-link
include ../../components/header/header-link-dropdown/header-link-dropdown
include ../../components/footer/footer
include ../../components/date-dropdown/date-dropdown

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ui-kit
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    body
        section.ui-kit__section.color-type
            .color-container
                +color-example('color__rectangle-ds-100','Dark Shade 100%',  '#1F2041')
                +color-example('color__rectangle-ds-75','Dark Shade 75%',   '#1F2041')
                +color-example('color__rectangle-ds-50','Dark Shade 50%',   '#1F2041')
                +color-example('color__rectangle-ds-25','Dark Shade 25%',   '#1F2041')
                +color-example('color__rectangle-ds-05','Dark Shade 5%',    '#1F2041')
                +color-example('color__rectangle-purple','Purple',   '#BC9CFF')
                +color-example('color__rectangle-green','Green',   '#6FCF97')
            .text-container
                .tag-type
                    +text-tag('H1','text-type__tag-h1')
                    +text-tag('H2','text-type__tag-h2')
                    +text-tag('H3','text-type__tag-h3')
                    +text-tag('Body','text-type__tag-body')
                .example-type
                    +text-example('This one is the sub-section or widget title','text-type__example-h1')
                    +text-example('Next one is the item title inside widgets',  'text-type__example-h2')
                    +text-example('This is a label or CTA text','text-type__example-h3')
                    +text-example('This is the body text which is used for most of the design, like paragraphs, lists, etc.','text-type__example-body')
        section.form-elements.ui-kit__section
            .form-elements__container.form-elements__container-first
                .block-container
                    +block-description('Text Field','Default')
                    +input({
                        type: 'email',
                        placeholderValue: 'Email',
                        className: 'input-component'
                    })
                .block-container
                    +block-description('Text Field','Hover / Focus')
                    +input({
                        type:'text',
                        placeholderValue:'This is pretty awesome',
                        className:'input-component  input-component__hover'
                    })
                .block-container
                    +block-description('Dropdown','Default')
                    +dropdown-item({btnClass:"dropdown__dropbtn dropdown-guests",name:"Сколько гостей"})
                        +Btn({ btnName:"Взрослые",inputClass:"adult",inputValue:"0"})
                        +Btn({ btnName:"Дети",inputClass:"child",inputValue:"0"})
                        +Btn({ btnName:"Младенцы",inputClass:"baby",inputValue:"0"})
                        .form-elements__btn-container
                            button.clear очистить
                            button.submit применить
                .block-container
                    +block-description('masked text field','Default')
                    +date-mask("date-mask")
                .block-container    
                    +date-dropdown({
                        descriptionFirst:'date Dropdown',
                        descriptionSecond:'date Dropdown'
                    })
                        
                .block-container
                    +block-description('filter date dropdown','')
                    .short-container.short-container__datepicker
                        +date-mask("date-mask date-dropdown datepicker-here single")
                        
                .block-container
                    +block-description('subscription text field')
                        .short-container
                            +input({
                                type: 'email',
                                placeholderValue: 'Email',
                                className: 'input-component input-component__arrow-right'
                                })
                .block-container
                    +block-description('dropdown','Default')
                    .short-container
                        +dropdown-item({btnClass:"dropdown__dropbtn dropdown__dropbtn-short ",name:'',dropClass:"dropdown-services"})
                            +Btn({ btnName:"спальни",inputClass:"3",inputValue:"3"})
                            +Btn({ btnName:"кровати",inputClass:"4",inputValue:"4"})
                            +Btn({ btnName:"ванные комнаты",inputClass:"3",inputValue:"3"})
                .block-container
                    +block-description('dropdown','expanded')
                    .short-container
                        +dropdown-item({btnClass:"dropdown__dropbtn dropdown__dropbtn-short",name:'',dropClass:"dropdown-services",show:'dropdown-content__show'})
                            +Btn({ btnName:"спальни",inputClass:"1",inputValue:"2"})
                            +Btn({ btnName:"кровати",inputClass:"2",inputValue:"2"})
                            +Btn({ btnName:"ванные комнаты",inputClass:"3",inputValue:"0"})
                .block-container.block-container__checkbox-list
                    +checkbox-list({parameters:[{title:"Завтрак",id:"breakfast"},
                                    {title:"Письменный стол",id:"table",checked:true},
                                    {title:"Стул для кормления",id:"chair",checked:true},
                                    {title:"Кроватка",id:"crib",checked:true},
                                    {title:"Телевизор",id:"tv"},
                                    {title:"Шампунь",id:"shampoo"},]})
                    +checkbox-list({parameters:[
                                    {title:"Завтрак",id:"breakfast1"},
                                    {title:"Письменный стол",id:"table1",checked:true},
                                    {title:"Стул для кормления",id:"chair1",checked:true},
                                    {title:"Кроватка",id:"crib1",checked:true},
                                    {title:"Телевизор",id:"tv1"},
                                    {title:"Шампунь",id:"shampoo1"},
                                    {title:"Телевизор",id:"tv2"},
                                    {title:"Шампунь",id:"shampoo2"}
                                    ]}
                                    )
                .block-container.block-container__info-hotel-room
                    +info-hotel-room({icon:'insert_emoticon',title:'Комфорт',description:'Шумопоглощающие стены'})
                .block-container
                    +info-hotel-room({icon:'location_city',title:'Удобство',description:'Окно в каждой из спален'})
            .row__container
                .form-elements__container.form-elements__container-second
                    .block-container
                        +block-description('Checkbox Buttons','')
                        +checkbox-button({title: "Можно курить", id: "smoke"})
                        +checkbox-button({title: "Можно с питомцами", id: "pet",checked:true})
                        +checkbox-button({title: "Можно пригласить гостей (до 10 человек)", id: "guests",checked:true})
                    .block-container
                        +block-description('Radio Buttons','')
                        .block-container__radio-button
                            +radio-button({radioName:'gender',radioText:'Мужчина',radioValue:'male',checked:'checked'})
                            +radio-button({radioName:'gender',radioText:'Женщина',radioValue:'female'})
                    .block-container
                        +block-description('Toggle','')
                        .block-container__toggle
                            +toggle({toggleText:"Получать спецпредложения",checked:'checked'})
                        .block-container__toggle
                            +toggle({toggleText:"Получать спецпредложения"})
                    .block-container
                        +block-description('like button','')
                        .block-container__like-button
                            +like-button({ likeValue:'2'})
                            +like-button({likeValue:'12'})
                    .block-container__rate-button
                        +block-description('rate button','')
                        .block-container__row
                            +rate-buttons('4','5')
                            +rate-buttons('5','5')
                    .block-container
                        +block-description('Dropdown','Default')
                        +dropdown-item({btnClass: "dropdown__dropbtn dropdown-guests", name: "Сколько гостей",show:'dropdown-content__show'})
                            +Btn({btnName: "Взрослые", inputClass: "adult", inputValue: "0"})
                            +Btn({btnName: "Дети", inputClass: "child", inputValue: "0"})
                            +Btn({btnName: "Младенцы", inputClass: "baby", inputValue: "0"})
                            .form-elements__btn-container
                                button.clear очистить
                                button.submit применить
                    .block-container.block-container__rich-checkbox
                        +block-description('Checkbox Buttons','')
                        +checkbox-button({title: "Широкий коридор",description:'Ширина коридоров в номере не менее 91 см.', id: "wideHall"})
                        +checkbox-button({title: "Помощник для инвалидов",description:'На 1 этаже вас встретит специалист  и проводит до номера.', id: "assistant"})
                .form-elements__container.form-elements__container-second
                    .range__container
                        +range-slider({name:'Range Slider'})   
                    .block-container
                        +block-description('Buttons','')
                        .block-container__row
                            +button({buttonContent:'Click Me',classType:'button-standard',})
                            +button({buttonContent:'Click Me',classType:'button-standard',disabled:true})
                        .block-container__row
                            +button({buttonContent: 'Click Me',classType:'button-border',})
                            +button({buttonContent: 'Click Me',classType:'button-border', disabled: true})
                        .block-container__row
                            +button({buttonContent: 'Click Me',classType:'button-link', })
                            +button({buttonContent: 'Click Me',classType:'button-link button-link__disabled'})
                        .block-container__row
                            +button({buttonContent: 'Перейти к оплате',classType:'button-arrow'})
                    .block-container__pagination
                        +block-description('Pagination','')
                        +pagination('1')
                    .block-container
                        +block-description('Dropdown','Default')
                        +dropdown-item({
                            btnClass: "dropdown__dropbtn dropdown-guests",
                            name: "Сколько гостей",
                            show: 'dropdown-content__show'
                        })
                            +Btn({btnName: "Взрослые", inputClass: "adult", inputValue: "2"})
                            +Btn({btnName: "Дети", inputClass: "child", inputValue: "1"})
                            +Btn({btnName: "Младенцы", inputClass: "baby", inputValue: "0"})
                            .form-elements__btn-container
                                button.clear очистить
                                button.submit применить
                    .block-container__bullet-list
                        +block-description('Bullet-list','')
                        +bullet-list('Нельзя с питомцами')
                        +bullet-list('Без вечеринок и мероприятий')
                        +bullet-list('Время прибытия — после 13:00,\n' +
                        'а выезд до 12:00')
                .form-elements__container-forth
                    +review({
                        img:'img/man.jpg',
                        likeValue:'12',
                        name:'Мурад Сарафанов',
                        date:'5',
                        reviewText:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                    })

        section.cards.ui-kit__section
            .cards__first-section
                .cards__wrap
                    +find-apartment
                .cards__wrap
                    +registration
            .cards__section
                .cards__wrap
                    +reserve-card({
                    apartmentNumber:'888',
                    apartmentClass:'люкс',
                    cost:'9990',
                    discount:'0',
                    addServices:'300'})
                .cards__wrap
                    +log-in
            .cards__section-last
                .cards__wrap
                    div.datepicker-here.date-dropdown
                .cards__wrap
                    +room-slider({
                        image:['img/room888/room888.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('5'),
                                maxRate:('5')
                    })
                .cards__wrap    
                    +room-slider({
                        image:['img/room840/room840.jpg',
                                'img/room888/room888-4.jpg',
                                ],
                                apartmentNumber:'840',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'65 ',
                                rate:('4'),
                                maxRate:('5')
                    })
        section.header-footer.ui-kit__section
            .cards__wrap
                +header({buttons:true,user: false})
                    +header-link({text:'О нас', headerLinkHref:'#1'})            
                    +header-link({text:'Услуги',headerLinkHref:'#2', dropDownList: true})
                        +header-link-dropdown({text:'Спа', headerLinkHref:'#1'})               
                        +header-link-dropdown({text:'Бассейн', headerLinkHref:'#1'})               
                        +header-link-dropdown({text:'Вечеринка', headerLinkHref:'#1'})               
                        +header-link-dropdown({text:'Заказать еду в номер', headerLinkHref:'#1'})               
                    +header-link({text:'Вакансии',headerLinkHref:'#3'})            
                    +header-link({text:'Новости',headerLinkHref:'#4'})            
                    +header-link({text:'Соглашения',headerLinkHref:'#5',dropDownList: true})
                        +header-link-dropdown({text:'Безопасность', headerLinkHref:'#1'})               
                        +header-link-dropdown({text:'О нас', headerLinkHref:'#1'})
            .cards__wrap                                    
                +header({buttons:false,user: true})
                    +header-link({text:'О нас', headerLinkHref:'#1'})            
                    +header-link({text:'Услуги',headerLinkHref:'#2', dropDownList: true})
                        +header-link-dropdown({text:'Спа', headerLinkHref:'#1'})               
                        +header-link-dropdown({text:'Бассейн', headerLinkHref:'#1'})               
                        +header-link-dropdown({text:'Вечеринка', headerLinkHref:'#1'})               
                        +header-link-dropdown({text:'Заказать еду в номер', headerLinkHref:'#1'})               
                    +header-link({text:'Вакансии',headerLinkHref:'#3'})            
                    +header-link({text:'Новости',headerLinkHref:'#4'})            
                    +header-link({text:'Соглашения',headerLinkHref:'#5',dropDownList: true})
                        +header-link-dropdown({text:'Безопасность', headerLinkHref:'#1'})               
                        +header-link-dropdown({text:'О нас', headerLinkHref:'#1'})
            .cards__wrap
                +footer
                                   
        section.ui-kit__section
            .form-elements__container.form-elements__container-first
                .block-container
                        +block-description('calculator','')
                        +calculator
                div.block-container
                    p.number1 ничего нет
                    div.child-container
                        button.button1 +
                        button.button2 -
                div.block-container
                    p.number1 ничего нет
                    div.child-container
                        button.button1 +
                        button.button2 -
                    p Генератор таблицы
                    p Количество строк
                    input.input1(type='number')
                    p Количество столбцов
                    input.input2(type='number')
                    table.table12
                <div class="removeText">
                <p><span>text1</span></p>
                <p><span>text2</span></p>
                <p><span>text3</span></p>
                </div>
                button.addText Добавить строку
                table.colorTable
                    <p class="elem">1</p>
                    <p class="elem">2</p>
                    <p class="elem">3</p>
                    <p class="elem">4</p>
                    <p class="elem">5</p>
