include ../../../src/components/color-type/color-type.pug
include ../../../src/components/text-type/text-type.pug
include ../../../src/components/text-type/example-type.pug
include ../../../src/components/input/input.pug
include ../../components/block-description/block-description
include ../../../src/components/dropdown/dropdown.pug
include ../../../src/components/dropdown/dropdownBtn.pug
include ../../../src/components/date-mask/date-mask.pug
include ../../../src/components/dropdown-btn/dropdown-btn.pug
include ../../../src/components/calculator/calculator.pug
include ../../../src/components/checkbox-list/checkbox-list.pug
include ../../../src/components/checkbox-button/checkbox-button.pug
include ../../../src/components/info-hotel-room/info-hotel-room.pug
include ../../../src/components/radio-buttons/radio-buttons.pug
include ../../../src/components/toggle/toggle.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ui-kit
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        section.color-type
            .color-container
                +color-example('color__rectangle-ds-100','Dark Shade 100%',  '#1F2041')
                +color-example('color__rectangle-ds-75','Dark Shade 75%',   '#1F2041')
                +color-example('color__rectangle-ds-50','Dark Shade 50%',   '#1F2041')
                +color-example('color__rectangle-ds-25','Dark Shade 25%',   '#1F2041')
                +color-example('color__rectangle-ds-05','Dark Shade 5%',    '#1F2041')
                +color-example('color__rectangle-purple','Purple',   '#BC9CFF')
                +color-example('color__rectangle-green','Green',   '#6FCF97')
            .text-container
                .tag-type
                    +text-tag('H1','text-type__tag-h1')
                    +text-tag('H2','text-type__tag-h2')
                    +text-tag('H3','text-type__tag-h3')
                    +text-tag('Body','text-type__tag-body')
                .example-type
                    +text-example('This one is the sub-section or widget title','text-type__example-h1')
                    +text-example('Next one is the item title inside widgets',  'text-type__example-h2')
                    +text-example('This is a label or CTA text','text-type__example-h3')
                    +text-example('This is the body text which is used for most of the design, like paragraphs, lists, etc.','text-type__example-body')
        section.form-elements
            .form-elements__container.form-elements__container-first
                .block-container
                    +block-description('Text Field','Default')
                    +input('email','Email','input__email')
                .block-container
                    +block-description('Text Field','Hover / Focus')
                    +input('email','This is pretty awesome','input__email  input__email-hover')
                .block-container
                    +block-description('Dropdown','Default')
                    +dropdown-item({btnClass:"dropdown__dropbtn dropdown-guests",name:"Сколько гостей"})
                        +Btn({ btnName:"Взрослые",inputClass:"adult",inputValue:"0"})
                        +Btn({ btnName:"Дети",inputClass:"child",inputValue:"0"})
                        +Btn({ btnName:"Младенцы",inputClass:"baby",inputValue:"0"})
                        .form-elements__btn-container
                            button.clear очистить
                            button.submit применить

                .block-container
                    +block-description('Dropdown','Default')
                    +dropdown-item({btnClass: "dropdown__dropbtn dropdown-guests", name: "Сколько гостей"})
                        +Btn({btnName: "Взрослые", inputClass: "adult", inputValue: "0"})
                        +Btn({btnName: "Дети", inputClass: "child", inputValue: "0"})
                        +Btn({btnName: "Младенцы", inputClass: "baby", inputValue: "0"})
                        +Btn({btnName: "Питомцы", inputClass: "pet", inputValue: "0"})
                        .form-elements__btn-container
                            button.clear очистить
                            button.submit применить
                .block-container
                    +block-description('masked text field','Default')
                    +date-mask("date-mask")
                .block-container.date-dropdown__container
                    .date-dropdown__first
                        +block-description('date dropdown','')
                        .date-dropdown__component
                            +date-mask("date-mask date-dropdown start","start")
                            +dropdown-btn({iconClass:'material-icons',icon:'expand_more',btnClass:'dropdown-btn dropdown-btn__arrow_forward'})
                    .date-dropdown__second
                        +block-description('date dropdown','')
                        .date-dropdown__component
                            +date-mask("date-mask date-dropdown end","end")
                            +dropdown-btn({iconClass:'material-icons',icon:'expand_more',btnClass:'dropdown-btn dropdown-btn__arrow_forward'})
                .block-container
                    +block-description('subscription text field')
                        .input__component
                            +input('email','Email','input__email input__email-arrow-right')
                            +dropdown-btn({iconClass:'material-icons arrow_forward-icon',icon:'arrow_forward',btnClass:'dropdown-btn dropdown-btn__arrow_forward',idIcon:'arrow_forward'})
                .block-container
                    +block-description('dropdown','Default')
                    .short-container
                        +dropdown-item({btnClass:"dropdown__dropbtn dropdown__dropbtn-short ",name:'',dropClass:"dropdown-services"})
                            +Btn({ btnName:"спальни",inputClass:"adult",inputValue:"3"})
                            +Btn({ btnName:"кровати",inputClass:"child",inputValue:"4"})
                            +Btn({ btnName:"ванные комнаты",inputClass:"baby",inputValue:"3"})
                .block-container
                    +block-description('dropdown','expanded')
                    .short-container
                        +dropdown-item({btnClass:"dropdown__dropbtn dropdown__dropbtn-short",name:'',dropClass:"dropdown-services",show:'dropdown-content__show'})
                            +Btn({ btnName:"спальни",inputClass:"1",inputValue:"2"})
                            +Btn({ btnName:"кровати",inputClass:"2",inputValue:"2"})
                            +Btn({ btnName:"ванные комнаты",inputClass:"3",inputValue:"0"})
                .block-container.block-container__checkbox-list
                    +checkbox-list([{title:"Завтрак",id:"breakfast"},
                                    {title:"Письменный стол",id:"table",checked:true},
                                    {title:"Стул для кормления",id:"chair",checked:true},
                                    {title:"Кроватка",id:"crib",checked:true},
                                    {title:"Телевизор",id:"tv"},
                                    {title:"Шампунь",id:"shampoo"},])
                    +checkbox-list([
                                    {title:"Завтрак",id:"breakfast1"},
                                    {title:"Письменный стол",id:"table1",checked:true},
                                    {title:"Стул для кормления",id:"chair1",checked:true},
                                    {title:"Кроватка",id:"crib1",checked:true},
                                    {title:"Телевизор",id:"tv1"},
                                    {title:"Шампунь",id:"shampoo1"},
                                    {title:"Телевизор",id:"tv2"},
                                    {title:"Шампунь",id:"shampoo2"}
                                    ],"showList"
                                    )
                .block-container.block-container__info-hotel-room
                    +info-hotel-room({icon:'insert_emoticon',title:'Комфорт',description:'Шумопоглощающие стены'})
                .block-container
                    +info-hotel-room({icon:'location_city',title:'Удобство',description:'Окно в каждой из спален'})
            .form-elements__container.form-elements__container-second
                .block-container
                    +block-description('Checkbox Buttons','')
                    +checkbox-button({title: "Можно курить", id: "smoke"})
                    +checkbox-button({title: "Можно с питомцами", id: "pet",checked:true})
                    +checkbox-button({title: "Можно пригласить гостей (до 10 человек)", id: "guests",checked:true})
                .block-container
                    +block-description('Radio Buttons','')
                    .block-container__radio-button
                        +radio-button({radioName:'gender',radioText:'Мужчина',radioValue:'male',checked:'checked'})
                        +radio-button({radioName:'gender',radioText:'Женщина',radioValue:'female'})
                .block-container
                    +block-description('Toggle','')
                    .block-container__toggle
                        +toggle({toggleText:"Получать спецпредложения",checked:'checked'})
                    .block-container__toggle
                        +toggle({toggleText:"Получать спецпредложения"})


        section
            .form-elements__container.form-elements__container-first
                .block-container
                        +block-description('calculator','')
                        +calculator
