@import '../../assets/scss/variables';
@import '../../assets/scss/fonts';
@import '../../assets/scss/default';
@import '../../components/color-type/color-type';
@import '../../components/text-type/text-type';
@import '../../components/text-field-email/text-field-email';
@import '../../components/block-container/block-container';
@import '../../components/dropdown/dropdown';
@import '../../components/date-mask/date-mask';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/dropdown-btn/dropdown-btn';
@import '../../../node_modules/air-datepicker/dist/css/datepicker.min.css';
@import '../../components/datepicker/datepicker';
@import '../../components/calculator/calculator';
.color-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 9.3588rem;
    padding-right: 11.9375rem;
    flex-wrap:wrap;
}
.form-elements__container {
   display: inline-flex;
   flex-direction: column;
   width: 320px;
}
.date-dropdown{
    &__container,
    &__component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:nowrap;
    }
}