@import '../../assets/scss/variables';

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
section{
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid black;
}
.color-type{
    padding: 145px 0 145px 0;
}
.color-container{
    margin-left: 150px;}
.color{
    display: flex;
    flex-direction: row;
    margin-bottom: 19.56px;
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.color__rectangle{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    &-ds-100 {
        background: #1F2041;
    }
    &-ds-75 {
        background: rgba(31, 32, 65, 0.75);
    }
    &-ds-50 {
        background: rgba(31, 32, 65, 0.50);
    }
    &-ds-25 {
        background: rgba(31, 32, 65, 0.25);
    }   
    &-ds-05 {
        background: rgba(31, 32, 65, .05);
    }

}