@import '../../assets/scss/variables';
@import './fonts';
@import '../../assets/scss/default';
@import '../../components/color-type/color-type';
@import '../../components/text-type/text-type';
@import '../../components/input/input';
@import '../../components/block-container/block-container';
@import '../../components/dropdown/dropdown';
@import '../../components/date-mask/date-mask';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/dropdown-btn/dropdown-btn';
@import '../../../node_modules/air-datepicker/dist/css/datepicker.min.css';
@import '../../components/datepicker/datepicker';
@import '../../components/calculator/calculator';
@import '../../components/checkbox-list/checkbox-list';
@import '../../components/checkbox-button/checkbox-button';

.color-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 9.3588rem;
    padding-right: 11.9375rem;
    flex-wrap:wrap;
}
.form-elements__container {
   display: inline-flex;
   flex-direction: column;
   width: 320px;
}
.date-dropdown,.input{
    &__container,
    &__component {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    }
}
.input{
    &__component{
        width: 266px;
    }
}
.title {
    font-family: 'Montserrat Bold';
    color:$color__dark-shade100;
    font-size: 0.75rem;
    line-height: 15px;
    text-transform: uppercase;
}
.short-container{
    width: 266px;
}