@font-face {
    font-family: 'Open Sans Bold';
    font-display: swap;
    src: url('/assets/fonts/opensans-bold.eot');
    src: url('/assets/fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/opensans-bold.woff') format('woff'),
        url('/assets/fonts/opensans-bold.ttf') format('truetype'),
        url('/assets/fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Regular';
    font-display: swap;
    src: url('/assets/fonts/opensans-regular.eot');
    src: url('/assets/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/opensans-regular.woff') format('woff'),
        url('/assets/fonts/opensans-regular.ttf') format('truetype'),
        url('/assets/fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    font-display: swap;
    src: url('/assets/fonts/montserrat-bold.eot');
    src: url('/assets/fonts/montserrat-bold.eot') format('embedded-opentype'),
        url('/assets/fonts/montserrat-bold.woff') format('woff'),
        url('/assets/fonts/montserrat-bold.ttf') format('truetype'),
        url('/assets/fonts/montserrat-bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Regular';
    font-display: swap;
    src: url('/assets/fonts/montserrat-regular.eot');
    src: url('/assets/fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/montserrat-regular.woff') format('woff'),
        url('/assets/fonts/montserrat-regular.ttf') format('truetype'),
        url('/assets/fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'Quicksand Regular';
    font-display: swap;
    src: url('/assets/fonts/Quicksand-Regular.eot');
    src: url('/assets/fonts/Quicksand-Regular.eot') format('embedded-opentype'),
        url('/assets/fonts/Quicksand-Regular.woff') format('woff'),
        url('/assets/fonts/Quicksand-Regular.ttf') format('truetype'),
        url('/assets/fonts/Quicksand-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand Bold';
    font-display: swap;
    src: url('/assets/fonts/Quicksand-Bold.eot');
    src: url('/assets/fonts/Quicksand-Bold.eot') format('embedded-opentype'),
        url('/assets/fonts/Quicksand-Bold.woff') format('woff'),
        url('/assets/fonts/Quicksand-Bold.ttf') format('truetype'),
        url('/assets/fonts/Quicksand-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}