@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../ui-kit/ui-kit.scss';
section.log-in {
    max-width: 100vw;
    margin:0px;
    max-height: 100vh;
    .slider-background-main{
         display: flex;
         align-items:center;
    }
}
.log-in {
&-main {
    width: 100%;
    min-height: 900px;
    background-image: url(../../assets/img/registration/registration-1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    transition: 2s;
}
&__card-container{
   
    max-width: 380px;
    margin: 0 auto;
    padding-top: 89px;
    @include for-desktop {}

    @include for-tablet-landscape {
        padding-top: 120px;
    }

    @include for-tablet-portrait {
        padding-top: 140px;
    }

    @include for-phone-only {
        padding-top: 180px;
    }
}
}