include ../../components/input/input.pug
include ../../components/block-description/block-description
include ../../components/dropdown/dropdown.pug
include ../../components/dropdown/dropdownBtn.pug
include ../../components/date-mask/date-mask.pug
include ../../components/calculator/calculator.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/checkbox-button/checkbox-button.pug
include ../../components/info-hotel-room/info-hotel-room.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/review/review.pug
include ../../components/range-slider/range-slider
include ../../components/buttons/buttons
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list
include ../../cards/find-apartment/find-apartment
include ../../cards/registration/registration
include ../../cards/reserve-card/reserve-card
include ../../cards/log-in/log-in
include ../../cards/room-slider/room-slider
include ../../components/header/header
include ../../components/header/header-link/header-link
include ../../components/header/header-link-dropdown/header-link-dropdown
include ../../components/footer/footer
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title search-room
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    body
        .container-header
            +header({buttons:true,user: false})
                +header-link({text:'О нас', headerLinkHref:'#1'})
                +header-link({text:'Услуги',headerLinkHref:'#2', dropDownList: true})
                    +header-link-dropdown({text:'Спа', headerLinkHref:'#1'})
                    +header-link-dropdown({text:'Бассейн', headerLinkHref:'#1'})
                    +header-link-dropdown({text:'Вечеринка', headerLinkHref:'#1'})
                    +header-link-dropdown({text:'Заказать еду в номер', headerLinkHref:'#1'})
                +header-link({text:'Вакансии',headerLinkHref:'#3'})
                +header-link({text:'Новости',headerLinkHref:'#4'})
                +header-link({text:'Соглашения',headerLinkHref:'#5',dropDownList: true})
                    +header-link-dropdown({text:'Безопасность', headerLinkHref:'#1'})
                    +header-link-dropdown({text:'О нас', headerLinkHref:'#1'})
        section.search-room
            aside.search-room__aside
                .block-container
                   +block-description('даты пребывания в отеле','')
                   +date-mask("date-mask date-dropdown datepicker-here single")
                .block-container
                   +block-description('гости','')
                      +dropdown-item({btnClass:"dropdown__dropbtn dropdown-guests",name:"Сколько гостей"})
                          +Btn({ btnName:"Взрослые",inputClass:"adult",inputValue:"0"})
                          +Btn({ btnName:"Дети",inputClass:"child",inputValue:"0"})
                          +Btn({ btnName:"Младенцы",inputClass:"baby",inputValue:"0"})
                          .form-elements__btn-container
                              button.clear очистить
                              button.submit применить
                .range__container
                   +range-slider({name:'диапозон цены',description:true})
                .block-container
                   +block-description('Checkbox Buttons','')
                   +checkbox-button({title: "Можно курить", id: "smoke"})
                   +checkbox-button({title: "Можно с питомцами", id: "pet",checked:true})
                   +checkbox-button({title: "Можно пригласить гостей (до 10 человек)", id: "guests",checked:true})
                .block-container
                   +block-description('Доступность','')
                   +checkbox-button({title: "Широкий коридор",description:'Ширина коридоров в номере не менее 91 см.', id: "wideHall"})
                   +checkbox-button({title: "Помощник для инвалидов",description:'На 1 этаже вас встретит специалист  и проводит до номера.', id: "assistant"})
                .block-container
                    +block-description('удобства номера','')
                    +dropdown-item({btnClass:"dropdown__dropbtn dropdown__dropbtn-short ",name:'',dropClass:"dropdown-services"})
                        +Btn({ btnName:"спальни",inputClass:"3",inputValue:"2"})
                        +Btn({ btnName:"кровати",inputClass:"4",inputValue:"2"})
                        +Btn({ btnName:"ванные комнаты",inputClass:"3",inputValue:"3"})
                .block-container
                     +checkbox-list({listTitle:'дополнительные удобства',parameters:[
                                    {title:"Завтрак",id:"breakfast1"},
                                    {title:"Письменный стол",id:"table1",checked:true},
                                    {title:"Стул для кормления",id:"chair1",checked:true},
                                    {title:"Кроватка",id:"crib1",checked:true},
                                    {title:"Телевизор",id:"tv1"},
                                    {title:"Шампунь",id:"shampoo1"},
                                    {title:"Телевизор",id:"tv2"},
                                    {title:"Шампунь",id:"shampoo2"}
                                    ]}
                                    )                             
            .search-room__rooms
                h1.search-room__rooms-title Номера, которые мы для вас подобрали
                .search-room__rooms-items
                    +room-slider({
                        image:['img/room888/room888.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('5'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-5.jpg',
                                'img/room888/room888.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'840',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'65 ',
                                rate:('4'),
                                maxRate:('5')
                    })  
                    +room-slider({
                        image:['img/room888/room888-3.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'980',
                                apartmentClass:'эконом',
                                cost:'9990',
                                numReview:'25 ',
                                rate:('5'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-4.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('2'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-5.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('3'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-2.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('4'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-3.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('5'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-4.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                ],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('2'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('2'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-4.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('3'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-5.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-2.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('5'),
                                maxRate:('5')
                    })
                    +room-slider({
                        image:['img/room888/room888-2.jpg',
                                'img/room888/room888-4.jpg',
                                'img/room888/room888-5.jpg',
                                'img/room888/room888-3.jpg',],
                                apartmentNumber:'888',
                                apartmentClass:'люкс',
                                cost:'9990',
                                numReview:'145 ',
                                rate:('5'),
                                maxRate:('5')
                    })
                .search-room__pagination    
                    +pagination('1')  
        +footer            