.date-dropdown {
    width: 100%;
    border-radius: 4px 0px 0px 4px ;
    border-right: none;
    &::placeholder{
    color:$color__dark-shade75;
    }
    &__second{
        margin-left: 20px;
    }
}
