mixin info-hotel-room(stats={})
    -let {iconClass} = stats
    .info-hotel-room__container
        .info-hotel-room__img 1
        .info-hotel-room__info-container
            .info-hotel-room__title 2
            .info-hotel-room__description 3