mixin info-hotel-room(stats={})
    -let {iconClass,icon,title,description} = stats
    .info-hotel-room__container
        i.info-hotel-room__img.material-icons(class=iconClass)=icon
        .info-hotel-room__info-container
            .info-hotel-room__title=title
            .info-hotel-room__description=description