<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title about-project
    body
        section.about-project
            .about-container
                .about__links
                    h1.about__title Hotel TOXIN
                    span Pages:
                    a(href='./home.html') Home
                    a(href='./search-room.html') search-room
                    a(href='./room-details.html') room-details
                    a(href='./sign-in.html') sign-in
                    a(href='./registration.html') registration
                    a(href='./ui-kit.html') ui-kit
                    a.link-repository(href='https://github.com/George-Izot/toxin') github repository
                .project-description    
                    .texnology    
                        p.main-text Используемый стек технолгий в этом проекте:
                        p.texnology-text Html Шаблонизатор Pug
                        p.texnology-text Препроцессор Sass
                        p.texnology-text БЭМ
                        p.texnology-text Сборщик Webpack
                        p.texnology-text Нативный JavaScript
                        p.texnology-text jQuery плагины(и их стилизация)
                        p.texnology-text Canvas
                    .objectives
                        p.main-text  Цели проекта:
                        p.texnology-text Исследовать компонентную архитектуру, где каждый блок можно переиспользовать
                        p.texnology-text Получить опыт работы с препроцессорами
                        p.texnology-text Получить базовые знания БЭМ
                        p.texnology-text Изучить отзывчивую вёрстку
                        p.texnology-text Препобрести базовые навыки работы с JavaScript
                        p.texnology-text Получить знания системы сбороки проектов WebPack 
                        p.texnology-text Преобрести навык искать, подключать и настраивать JavaScript-библиотеки и jQuery-плагины в частности
                        p.texnology-text Получить опыт работы с Git


                    


