.checkbox-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &__title-box{
     cursor: pointer;
    }
    &__span{
        padding: 15px 0px;
    }
    &__title-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        i{
            padding: 10px 0px;
            color:$color__dark-shade50;
            transition: 200ms;
        }
    }
     &__list {

     }
}
.checkbox-list__list-open{
    display: block;
}


ul > li.checkbox-list__button{
    list-style-type:none;
    cursor: pointer;
}

.transform {
    transition: 200ms;
    transform: rotate(180deg);
}
#showList{

}
