mixin color-example(color, desc, hex)
    .color
        .color__rectangle(class=color)
        .color__description
            .color__description-title=desc
            .color__description-hex=hex