header{
   padding: 15px 140px;
   z-index: 3;
     justify-content: space-between;
       z-index: 33;
       @include for-phone-only {
        padding: 15px 10px;
       }
       @include for-tablet-portrait {
         padding: 15px 10px;
       }
       @include for-tablet-landscape {
         padding: 15px 10px;
       }
       @include for-desktop {
         padding: 15px 140px;
       }
      }
ul.header__menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  @include for-phone-only {
    width: 100%;
    justify-content:space-between;
  }

  @include for-tablet-portrait {
    width: 100%;
    justify-content:space-between;
  }

li{
  margin-right: 20px;
}
}
.li{
&__dropdown{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
&-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 2px;
  position: relative;
  i{
    color:$color__dark-shade50;
  }
}
}
.dropdown-list{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}
.header{
   @include for-phone-only {
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
&-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
&__button-container{
  display: flex;
  flex-wrap: wrap;
  @include for-phone-only {
    justify-content: center;
    width: 100%;
  }
}
&__button{
    display: flex;
    align-items:center;
    @include for-phone-only {
      width: 100%;
    }
  }
  &__button:last-child{
    margin-left: 20px;
        @include for-phone-only {
          margin-left: 0px;
        }

        @include for-tablet-portrait {
          margin-left: 8px;
        }
  }
}
.user-text{
  font-family: 'Montserrat Regular';
  text-align: center;
  padding-top: 12px;
  padding-left: 20px;
  border-left: 1px solid $color__dark-shade10;
  font-size: 0.875rem;
}
.li-container{
font-size: 0.875rem;
display: flex;
align-items: center;
}


