mixin log-in
    +cards-background
        .heading Войти
        .log-in__elem-container
            +input({
                    type: 'text',
                    placeholderValue: 'Email',
                    className: 'input-component'
                })
        .log-in__elem-container
            +input({
                        type: 'password',
                        placeholderValue: 'Пароль',
                        className: 'input-component'
                    })
        .log-in__block-container
            +button({buttonContent: 'Перейти к оплате',classType:'button-arrow'})
        .log-in__log-in
            p.registration__log-in-text Уже есть аккаунт на Toxin
            +button({buttonContent: 'Click Me',classType:'button-border',})