.log-in {
  &__elem-container{
    margin-bottom: 10px;
  }
  &__block-container{
    margin-bottom: 20px;
  }
  &__card-container{
     max-width: 380px;
     width: 100%;
  }
  &__log-in{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 30px;
    justify-content: space-between;
    &-text{
      font-size: 14px;
      font-family: 'Montserrat Regular';
      max-width: 186px;
    }
  }
}
.button-container{
  max-width: 99px;
}