.dropdown-btn{
    margin: 0;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0px 4px 4px 0px;
    border-left: none;
    color:$color__dark-shade50;
    cursor: pointer;
    #arrow_forward {
            background: $gradient__primary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__without-border{
         border: none;
    }
}
